if footerContent != null
 #site-footer.site-footer.closed
  #info.info
     .wrapper
            div.links
                div.center
                    ul.navbar-nav
                        li
                            a(href='#' id="sh") short
                        li
                            a(href='#' id="lg") long
            div.footer-desc
              p.footer-p1(class="short")
               != PrismicDOM.RichText.asText(footerContent.data.short_text)
              p.footer-p1(class="long")
                != PrismicDOM.RichText.asText(footerContent.data.long_text)
              br
              p.footer-p1(style="display:block;")
                != PrismicDOM.RichText.asText(footerContent.data.general_text)
