div.whitebar
 header.site-header
    nav.navbar
      .container-fluid
        .navbar-header
         button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
         a.navbar-brand(href='./') dirk elijah
        #myNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='/#thumbnails' id="write") writer
              li
                a(href='/#thumbnails' id="design") designer
              li
                a(href='/thinker') thinker
              li
                a(href='#site-footer' id="info") info