header
  nav
    div(id="logo" class="logo")
      a(id="dirk" href='/' disabled)
        img(src="../../images/DirkElijah_Logo.png")
    div(id="navigation" class="nav-default")
      div.upper-left
        a(href='./slides')
          | PHRASES
      div.upper-right
        a(href='./info')
          | ABOUT
      div.lower-left
        a(href='./soon')
          | PODCAST
      div.lower-right
        a(href='https://dirkelijah.medium.com' target='_blank')
          | MEDIUM
