header
  nav
    div(id="logo" class="logo logo-small")
      a(id="dirk" href='/' class="dirk-small")
        img(src="../../images/DirkElijah_Logo.png")
    div(id="navigation" class="nav-default")
      div.upper-left
        a(href='./slides')
          | PHASES
      div.upper-right
        a(href='./info')
          | ABOUT
      div.lower-left
        a(href='./soon')
          | PODCAST
      div.lower-right
        a(href='https://dirkelijah.medium.com')
          | MEDIUM
      


        
