header
  nav
    div(id="logo" class="logo")
      a(id="dirk" href='/temp-home' disabled)
        img(src="../../images/DirkElijah_Logo.png")
    div(id="navigation" class="nav-default")
      div.nav-arrow
        img(src="../../images/NavigationArrow.png")
      div.bottomnav
        div.bottomnav-center
          a(href='')
            | LET'S RECONSIDER
        a.centerY(href='./slides')
          | PHRASES
        div.bottomnav-right
          a.centerY(href='/info')
            | INFO

        
