extends ./layout.pug

block prepend body
  body(data-wio-id=pageContent.id)
    
    include ./partials/header.pug
    
    // Content Section
    div.container(style="padding-top:140px;") 
     div.links
      div.center
        ul.navbar-nav
          li
            a(href='#' id="design") designer
          li
            a(href='#' id="write") writer
     div.thumbails.clear(id="thumbnails")
      //- Display the slices
      for slice in pageContent.data.page_content
        case slice.slice_type
          when 'thumbnail'
            include ./partials/thumbnail.pug 
     include ./partials/footer.pug