extends ./layout.pug

block prepend body
  body.infopage(data-wio-id=pageContent.id)
    include ./partials/temp-header.pug
    div.info
       .wrapper
          div.links
            div.center
              ul.navbar-nav
                li
                  a(href='#' id="sh") short
                li
                  a(href='#' id="lg") long
          div.info-details
            p.short
             != PrismicDOM.RichText.asText(pageContent.data.short_text)
            p.long
              != PrismicDOM.RichText.asText(pageContent.data.long_text)
            br
            p.info-p2(style="display:block;")
              != PrismicDOM.RichText.asText(pageContent.data.general_text)
          div.info-box 
            div.info-wrap
              div.info-img
                img(src="../images/Letter.png")
              div.info-link
                - var contactLink = PrismicDOM.RichText.asText(pageContent.data.contact_link)
                a(href="mailto:"+contactLink)
                  | No time to read the above? Contact me here.
            div.info-wrap
              div.info-img.middle
                img(src="../images/Instagram.png")
              div.info-link
                - var instaLink = PrismicDOM.RichText.asText(pageContent.data.insta_link)
                a(href=instaLink)
                  | Show you care, and give me a follow.
            div.info-wrap
              div.info-img
                img(src="../images/PastLife.png")
              div.info-link
                a(href="/thoughts")
                  | Interested? Take a look at my past life. 
              
