doctype html(lang='en')

head
  title Dirk Elijah → 
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(id="project_list_data" data-offset="0")
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel='stylesheet', href='/stylesheets/common.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='/scripts/custom.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
body
  block body