extends ./layout.pug

block prepend body
  body(data-wio-id=pageContent.id)

    include ./partials/temp-header.pug

    // Content Section
    div.container(style='padding-top:140px;position:absolute;z-index:0;')
     div.thoughts-row
       //- Display the slices
       for slice in pageContent.data.body
         case slice.slice_type
           when 'thoughts_column'
             div.thoughts-column
               each richTextItem in slice.items
                 != PrismicDOM.RichText.asHtml(richTextItem.left_column, ctx.linkResolver)
             div.thoughts-column
               each richTextItem in slice.items
                   != PrismicDOM.RichText.asHtml(richTextItem.middle_column, ctx.linkResolver)
             div.thoughts-column
               each richTextItem in slice.items
                   != PrismicDOM.RichText.asHtml(richTextItem.right_column, ctx.linkResolver)
     include ./partials/footer.pug
