@font-face {
  font-family: "Soehne-Web";
  src:
    url('stylesheets/soehne-web/soehne-web-buch.eot') format('eot'),
    url('fonts/soehne-web/soehne-web-buch.woff2') format('woff2'),
    url('stylesheets/soehne-web/soehne-web-buch.woff') format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 200;
  src: url('stylesheets/fonts/MaterialIcons-Regular.woff');
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('stylesheets/fonts/MaterialIcons-Regular.woff') format('woff2'),
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'Soehne-Web', sans-serif !important;
  box-sizing: border-box;
}

body {
  background: white;
  color: #000000;
  font-family: 'Soehne-Web', sans-serif !important;
  font-size: 22px !important;
  line-height: 1.6;
  min-height: 100vh;
  opacity: 1;
  -webkit-transition: background 1s ease;
  -moz-transition: background 500ms ease;
  transition: background 500ms ease;
  text-align: center;
}

a {
  /* font-size: 14px; */
  font-weight: 400;
  letter-spacing: 0.35;
  line-height: 4vmin;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Soehne-Web', sans-serif !important;
}

h1 {
  font-weight: normal;
  color: black;
  letter-spacing: 1.14;
  margin-bottom: 1rem;
}

h2, h2 a {
  margin-bottom: 1rem;
  font-weight: normal;
  letter-spacing: 0.85;
  line-height: 6.4vmin;
}

h3, h3 a {
  Color: black;
  font-weight: 400;
  letter-spacing: 0.52;
  line-height: 34px;
}

p {
  margin-bottom: 2rem;
}

img, video {
  max-width: 100%;
  width: 100%;
}

video {
  margin-bottom: 10%;
}
