@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 200;
  src: url('stylesheets/fonts/MaterialIcons-Regular.woff');
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('stylesheets/fonts/MaterialIcons-Regular.woff') format('woff2'),
}

@font-face {
  font-family: "fieldwork";
  src: url("https://use.typekit.net/af/fb8279/00000000000000007735ce9f/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/fb8279/00000000000000007735ce9f/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
       url("https://use.typekit.net/af/fb8279/00000000000000007735ce9f/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "fieldwork-bold";
  src: url("https://use.typekit.net/af/09f5b4/00000000000000007735ceac/31/l?subset_id=2&fvd=n7&v=3") format("woff2"),
       url("https://use.typekit.net/af/09f5b4/00000000000000007735ceac/31/d?subset_id=2&fvd=n7&v=3") format("woff"),
       url("https://use.typekit.net/af/09f5b4/00000000000000007735ceac/31/a?subset_id=2&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  font-family: 'fieldwork', sans-serif !important;
  box-sizing: border-box;
}

body {
  background: white;
  color: #15202B !important;
  font-family: 'fieldwork', sans-serif !important;
  font-size: 16px !important;
  line-height: 1.6;
  min-height: 100vh;
  opacity: 1;
  -webkit-transition: background 1s ease;
  -moz-transition: background 500ms ease;
  transition: background 500ms ease;
  text-align: center;
  overflow-x: hidden;
}

a {
  /* font-size: 14px; */
  font-weight: 400;
  letter-spacing: 0.35;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'fieldwork', sans-serif !important;
}

h1 {
  font-weight: normal;
  color: black;
  letter-spacing: 1.14;
  margin-bottom: 1rem;
}

h2, h2 a {
  margin-bottom: 1rem;
  font-weight: normal;
  letter-spacing: 0.85;
  line-height: 6.4vmin;
}

h3, h3 a {
  Color: black;
  font-weight: 400;
  letter-spacing: 0.52;
  line-height: 34px;
}

p {
  margin-bottom: 2rem;
}

img, video {
  max-width: 100%;
  width: 100%;
}

video {
  margin-bottom: 10%;
}
