/* Header */
header {
  margin: 20px 0;
  overflow: hidden;
  cursor: pointer;
}
nav {
  /* position: relative; */
  z-index:1000;
}
#navigation {
  opacity: 0;
  transition: 0.5s linear;
  position: absolute;
  z-index: 100;
}
#navigation a{
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: black;
}
#navigation a:hover{
  text-decoration: none;
}
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s linear;
}
.logo-small {
  top: 50px !important;
  transition: top 0.5s linear;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;
}
.logo img {
  width: 100%;
  transition: 0.5s linear;
}
.dirk-small img {
  width: 200px;
  transition: 0.5s linear;
}
.upper-left {
	position: fixed;
  padding: 30px 0 0 30px;
	top: 0;
	left: 0;
}
.upper-right {
	position: fixed;
  padding: 30px 30px 0 0;
	top: 0;
	right: 0%;
}
.lower-left {
	position: fixed;
  padding: 0 0 30px 30px;
	bottom: 0%;
	left: 0;
}
.lower-right {
  position: fixed;
  padding: 0 30px 30px 0;
	bottom: 0%;
	right: 0%;
}
/* End Header */

/* Home */
.homepage {
  background-color: #a1c9dc;
  overflow: hidden;
}
.slide {
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide.current {
  transition: opacity 1;
  -webkit-transition: opacity 1s;
  z-index: 50 !important;
  opacity: 1 !important;
}
.clickarea-wrap {
  display: 'block';
}
.clickarea {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.left {
  left: 0;
  cursor: url(../images/LeftArrow.png) 108 65, w-resize;
}
.right {
  right: 0;
  cursor: url(../images/RightArrow.png) 108 65, e-resize;
}
/* End Home */

/* Info */
.infopage {
  background-color: #a1c9dc;
}
.links,
.links a {
  color: black;
  letter-spacing: 1.0px;
  font-size: 20px;
}
.navbar-nav>li>a:focus {
  color: black !important;
  letter-spacing: 1.0px !important;
  font-size: 20px !important;
  /* background-color: white !important; */
}
a:hover {
  color: black !important;
  background-color: transparent !important;
}
#sh:hover, #lg:hover{
  text-decoration: none;
  font-family: 'Authentic-Sans-130', sans-serif;
}
.info {
  margin: auto;
  width: 100%;
  padding-top: 2.5rem;
}
.wrapper {
  margin-top: 75px;
}
.info-details {
  text-align: center;
  padding: 3rem 150px 0;
  max-width: 1200px;
  margin: auto;
}
.short {
  margin: auto;
  width: 65%;
}
.long {
  margin: auto;
  width: 85%;
}
.info-p2 {
  margin: auto;
  width: 100%;
}
.info-p2 img {
  width: 225px;
}
.info-box {
  padding: 50px 0 100px 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}
.info-wrap {
  padding: 0 20px;
  margin-top: auto;
}
.info-box > * {
  flex: 1 1 33.33%;
}
.info-box a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.5;
}
.info-img {
  margin-top: auto;
  padding-bottom: 1rem;
}
.middle img{
  width: 50% !important;
}
.info-box img {
  width: 30%;
}
/* End Info */

/* Slides */
.section {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: 4px;
	overflow: hidden;
	clip: rect(0, auto, auto, 0);
}
.fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Slides */

/* Soon */
.soon {
  font-size: 5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s linear;
}
/* End Soon */

/* Thoughts */
.thoughts-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 2rem;
}
.thoughts-column {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 1rem;
}
.block-img {
  margin-bottom: 2rem;
}
/* End Thoughts */


@media screen and (max-width: 1024px) {
  body {
    font-size: 20px !important;
  }
  .info-details {
    padding: 3rem 100px 0;
  }
  .info-p2 img {
    width: 210px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px !important;
  }
  .info-details {
    padding: 3rem 50px 0;
  }
  .info-box a {
    font-size: 16px;
  }
  .info-p2 img {
    width: 190px;
  }
}

@media (max-width: 650px) {
  .info-details {
    padding: 3rem 20px 0;
  }
  .info-wrap:not(:first-of-type) {
    padding-top: 50px;
  }
  .info-wrap:last-of-type {
    padding-bottom: 50px;
  }
  .info-link {
    margin: auto;
    width: 45%
  }
  .info-box > *  {
    flex-basis: 100%;
  }
  .middle img{
    width: 20% !important;
  }
  .info-box img {
    width: 10%;
  }
}

@media screen and (max-width: 450px) {
  body {
    font-size: 16px !important;
  }
  .info-box a {
    font-size: 16px;
  }
  .info-p2 img {
    width: 170px;
  }
}
