/* Header */
header {
  margin: 20px 0;
  overflow: hidden;
}
nav {
  /* position: relative; */
  z-index:1000;
}
#navigation {
  opacity: 0;
  transition: 0.5s linear;
  position: absolute;
  z-index: 100;
}
#navigation a,
div.lower-middle {
  font-family: 'fieldwork', sans-serif !important;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
}
#navigation a:hover{
  text-decoration: none;
}
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s linear;
}
.logo-small {
  top: 45px !important;
  transition: top 0.5s linear;
  position: fixed;
  z-index: 100;
}
.logo img {
  width: 300px;
  transition: 0.5s linear;
  padding: 5.85px 0;
}
.dirk-small img {
  width: 130px;
  transition: 0.5s linear;
}
.upper-left {
	position: fixed;
  padding: 30px 0 0 30px;
	top: 0;
	left: 0;
}
.upper-right {
	position: fixed;
  padding: 30px 30px 0 0;
	top: 0;
	right: 0%;
}
.lower-left {
	position: fixed;
  padding: 0 0 30px 30px;
	bottom: 0%;
	left: 0;
}
.lower-middle {
  position: fixed;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  padding-bottom: 30px;
  z-index: -1;
  line-height: 4vmin;
}
.lower-right {
  position: fixed;
  padding: 0 30px 30px 0;
	bottom: 0%;
	right: 0%;
}
/* End Header */

/* Home */
.homepage {
  background-color: #94afc2;
  overflow: hidden;
}
.slide {
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide.current {
  transition: opacity 1;
  -webkit-transition: opacity 1s;
  z-index: 50 !important;
  opacity: 1 !important;
}
.clickarea-wrap {
  display: 'block';
}
.clickarea {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.left {
  left: 0;
  cursor: url(../images/Prev.svg) 108 65, w-resize;
}
.right {
  right: 0;
  cursor: url(../images/Next.svg) 108 65, e-resize;
}
/* End Home */

/* Info */
.infopage {
  background-color: #94afc2;
}
.links {
  padding-top: 3rem;
}
.links,
.links a {
  color: black;
  letter-spacing: 1.0px;
  font-size: 16px;
}
.navbar-nav>li>a:focus {
  color: black !important;
  letter-spacing: 1.0px !important;
  /* background-color: white !important; */
}
a:hover {
  color: black !important;
  background-color: transparent !important;
}
#sh:hover, #lg:hover{
  text-decoration: none;
  /* border-bottom: 1px solid black; */
}
.info {
  margin: auto;
  width: 100%;
  padding-top: 2.5rem;
}
.wrapper {
  margin-top: 75px;
}
.info-details {
  font-size: 13px;
  text-align: center;
  padding: 3rem 150px 0;
  max-width: 1200px;
  margin: auto;
}
.short {
  margin: auto;
  width: 100%;
}
.long {
  margin: auto;
}
.info-p2 {
  margin: auto;
  width: 100%;
}
.info-p2 a {
  font-family: 'fieldwork-bold', sans-serif !important;
  color: black;
  text-decoration: none;
  line-height: 22.85px;
}
.info-p2 a:hover {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.info-box {
  display: block;
  max-width: 900px;
  margin: auto;
}
.info-wrap {
  padding: 0 20px;
  margin-top: auto;
}

.info-img {
  margin-top: auto;
  padding-bottom: 1rem;
}
.info-box img {
  width: 80px;
}
/* End Info */

/* Slides */
.section {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	clip: rect(0, auto, auto, 0);
}
.fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fixed p {
  font-size: 31px;
}
/* End Slides */

/* Start Drawings */
.drawing-board {
  position: relative;
  width: 100%;
  overflow: hidden; /* optional */
}
.drawing { 
  position: absolute;
  cursor: move;
  /* you will set top/left/width/z-index per card */
}
.drawing-image {
  width: 100%;
  position: relative;
}
.drawing img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 5rem;
}

@media (max-width: 767.9999px){
  .drawing-board {
    padding-top: 3rem;
    height: fit-content !important;
  }

  .drawing{
    cursor: default;
    position: relative;
    left: 50% !important;
    top: auto !important;
    transform: translateX(-50%);
    width: 100% !important; /* or a smaller % if you prefer margins */
    z-index: auto !important;
  }

  .drawing img {
    width: fit-content;
    padding: 5rem 0;
  }
}
/* End Drawings */

/* Soon */
.soon {
  font-size: 5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s linear;
}
/* End Soon */

/* Thoughts */
.thoughts-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 2rem;
}
.thoughts-column {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 1rem;
}
.block-img {
  margin-bottom: 2rem;
}
/* End Thoughts */

@media screen and (min-width: 1024px) {
  .short, .info-p2 {
    padding: 0 7em;
  }
}

@media screen and (max-width: 1024px) {
  .info-details {
    padding: 3rem 9rem 0;
  }
  .info-p2 img {
    width: 210px;
  }
}

@media (max-width: 768px) {
  .info-details {
    padding: 3rem 50px 0;
  }
  .info-box a {
    font-size: 16px;
  }
  .info-p2 img {
    width: 190px;
  }
}

@media screen and (max-width: 560px) {
  .logo-small {
    top: 36px !important;
  }
  .dirk-small img {
    width: 125px;
  }
  nav #navigation a,
  div.lower-middle {
    font-size: 11px;
  }
  .lower-left {
    padding: 0 0 25px 25px;
  }
  .lower-middle {
    padding-bottom: 25px;
  }
  .lower-right {
    padding: 0 25px 25px 0;
  }
  .upper-left {
    padding: 25px 0 0 25px;
  }
  .upper-right {
    padding: 25px 25px 0 0;
  }
}

@media screen and (max-width: 450px) {
  .info {
    padding: 0px 0px;
  }
  .fixed p {
  min-width: 400px;
  }
  body {
    font-size: 16px !important;
  }
  .info-box a {
    font-size: 16px;
  }
  .info-p2 img {
    width: 170px;
  }
}

.navbar-nav > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
