/* Header */
header {
  margin: 20px 0;
  overflow: hidden;
}
nav {
  /* position: relative; */
  z-index:1000;
}
#navigation {
  position: fixed;
  bottom: 0;
  opacity: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  transition: 0.5s linear;
  z-index: 100;
}
.logo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s linear;
}
.logo-small {
  top: 50px !important;
  transition: top 0.5s linear;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;
}
.logo img {
  width: 100%;
  transition: 0.5s linear;
}
.dirk-small img {
  width: 200px;
  transition: 0.5s linear;
}
.nav-arrow img {
  width: 45px;
  padding: 8px;
  margin-top: 3px;
}
.bottomnav {
  position: relative;
  overflow: hidden;
  padding: 10px 50px;
  transition: 0.8s ease-out;
}
.bottomnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 1px 10px;
  text-decoration: none;
  font-size: 16px;
  /* line-height: 15px; */
  background-size: 200.22% auto;
  -webkit-background-size: 200.22% auto;
  -moz-background-size: 200.22% auto;
  background-position: -0% 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #f9b248   50%);
  transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
}
.bottomnav a:hover {
 background-position: -99.99% 0;
}
.bottomnav a.active {
  /* might need this */
}
.bottomnav-center a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bottomnav-right {
  float: right;
}
/* End Header */

/* Home */
.homepage {
  background-color: #cae7ec;
  overflow: hidden;
}
.slide {
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
  -webkit-transition: opacity .5s;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide.current {
  transition: opacity 1;
  -webkit-transition: opacity 1s;
  z-index: 50 !important;
  opacity: 1 !important;
}
.clickarea-wrap {
  display: 'block';
}
.clickarea {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 50%;
}
.left {
  left: 0;
  cursor: url(../images/LeftArrow.png) 108 65, w-resize;
}
.right {
  right: 0;
  cursor: url(../images/RightArrow.png) 108 65, e-resize;
}
/* End Home */

/* Info */
#sh:hover, #lg:hover{
  text-decoration: none;
  font-family: 'Authentic-Sans-130', sans-serif;
}
.infopage {
  background-color: #cae7ec;
}
.info-row {
  padding-top: 50px;
}
.info-row:after {
  content: "";
  display: table;
  clear: both;
}
.info-col {
  float: left;
  width: 33.33%;
  padding: 0 2.5rem;
}
.info-col a {
  color: black;
  text-decoration: none;
}
/* End Info */

/* Slides */
.section {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100vh;
	letter-spacing: 4px;
	overflow: hidden;
	clip: rect(0, auto, auto, 0);
}
.fixed {
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* End Slides */

/* Soon */
.soon {
  font-size: 5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.5s linear;
}
@media (max-width: 768px) {
  .info-col {
    width: 100%;
    padding: 1rem 0;
  }
  .info-col a {
    line-height: normal !important;
  }
  .info-row {
    padding-top: 3rem;
  }
  .info-row:after {
    padding: 3rem;
  }
  .bottomnav {
    padding: 17px 5px;
  }
}
